{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecteur Audio</title>
</head>
<body>
    <h1>Lecteur Audio pour les fichiers .mp3</h1>

    {% if fichiers_mp3 %}
        <div>
            {% for fichier in fichiers_mp3 %}
                <div>
                    <p>{{ fichier }}</p>
                    <!-- Bouton play pour chaque fichier .mp3 -->
                    <audio id="audio_{{ fichier }}" controls>
                        <source src="{% static 'data/' %}{{ fichier }}" type="audio/mp3">
                        Votre navigateur ne supporte pas l'élément audio.
                    </audio>
                    <button onclick="document.getElementById('audio_{{ fichier }}').play()">Play</button>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucun fichier .mp3 trouvé dans le dossier 'data'.</p>
    {% endif %}
</body>
</html>

